.container {
    width: 500px;
    height: 500px;
    background: #3B3B48;
}

table td {
    width: 150px;
    height: 150px;
    background: #c8c8db;
    display: inline-block;
    margin-top: 8px;
    margin-left: 10px;
    text-align: center;
    font-size: 100px
}

.field a {
    font-size: 120px;
}