.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-content: center
}

.container {
    width: 400px;
    height: 400px;
    background: #3B3B48;
}

table td {
    width: 118px;
    height: 118px;
    background: #c8c8db;
    display: inline-block;
    margin-top: 8px;
    margin-left: 9px;
    text-align: center;
    font-size: 100px
}

.words {
    font-size: 50px;
    font-family: 'Finlandica', sans-serif;
}

.buttons {
    border: none;
    padding: 10px;
    background: #c8c8db;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    transition: 3s;
    border-radius: 5px
}